<!DOCTYPE html>
<html>
  <head>
    <title>Basic Flask app</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <div class="nav">
      <h1>YouTube data summary</h1>
      <p>Here are the results of analysing your YouTube data:</p>
    </div>
    <div class="leftDiv">
      <h2>Most popular channels</h2>
      <ul>
        {% for key, value in data.channels.items() %}
        <li>{{key}} - {{value}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="rightDiv">
      <h2>Vidoes watched</h2>
      <ul>
        {% for item in data.raw_data %} {% if item.subtitles %}
        <li>{{item.title}} - {{item.subtitles[0].name}}</li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </body>
</html>
