<!DOCTYPE html>
<html>
  <head>
    <title>Basic Flask app</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />

    <!-- <script src="{{url_for('static', filename='scripts/test.js')}}"></script> -->
  </head>
  <body class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">YouTube data summary</a>
      <span class="navbar-text"
        >
        {% if has_filters %}
        <strong>Filters:</strong> 
          {% for key, value in filter.items() %}
            {% if value != "" %}
            {{key}} [<strong>{{value}}</strong>]
            {% endif %}
          {% endfor %}
        {% else %}
        Here are the results of analysing your YouTube data
        {% endif %}
        </span
      >
    </nav>
    <div class="row">
      <div class="col contentDivs">
        {% if data.channels %}
        <h2>Most popular channels (by videos watched)</h2>
        <ul class="list-group">
          {% for key, value in data.channels.items() %}
          <li class="list-group-item">
            <span class="leftAlign">{{key}}</span
            ><span class="rightAlign"><strong>{{value}}</strong></span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col contentDivs">
        {% if data.raw_data %}
        <h2>Videos watched</h2>
        <ul class="list-group">
          {% for item in data.raw_data %} {% if item.subtitles %}
          <li class="list-group-item">
            <span class="leftAlign">{{item.title}}</span>
            <span class="rightAlign"
              ><strong>{{item.subtitles[0].name}}</strong></span
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </body>
</html>
