{% extends "layout.html" %}
{% block content %}
  <div class="row">
      <div class="col contentDivs">
        {% if data.channels %}
        <h2>Most popular channels</h2>
        <ul class="list-group">
          {% for key, value in data.channels.items() %}
          <li class="list-group-item">
            <span class="leftAlign">{{key}}</span
            ><span class="rightAlign"><strong>{{value}}</strong></span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="col contentDivs">
        {% if data.raw_data %}
        <h2>Videos watched</h2>
        <ul class="list-group">
          {% for item in data.raw_data %} {% if item.subtitles %}
          <li class="list-group-item">
            <span class="leftAlign">{{item.title}}</span>
            <span class="rightAlign"
              ><strong>{{item.subtitles[0].name}}</strong></span
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
{% endblock %}