.app {
  height: 100vh;
}

.mainContent {
  height: 100%;
}

.leftDiv {
  height: calc(100% - 7rem);
  overflow-y: scroll;
}

.rightDiv {
  height: calc(100% - 7rem);
  overflow-y: scroll;
}

.contentDivs {
  height: calc(100% - 7rem);
  overflow-y: scroll;
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}
